{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
			<div class="content ">
					<div class="container ">
						<div class=""><div class="container-spread__inner"><nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>

						</span></nav><div class="custom-h1">
		<div class="row align-items-center">
			<div class="col">
				<h1>ВетКлиника Баумана</h1>

			</div></div></div></div>
			<div id="imageContainer">

							<div class="d-none">
</div></div>



<script>
    setTimeout(function() {
        var popup = document.querySelector('.popup');
        popup.style.display = 'none';


    }, 10000);
</script>

{% if flag %}

    <div class="popup">
        <div style="position: fixed; bottom: 20px; right: 20px; background: white; border-radius: 5px; padding: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); z-index: 9999; text-align: center;">
            <img src="{% static 'cart/green_flag.png' %}" alt="Success Image" style="width: 20px; height: 20px; margin-right: 10px;">
            <p style="display: inline-block; vertical-align: middle; margin-top: auto; margin-bottom: auto;">Заказ успешно оформлен!</p>
            <button type="button" class="close" aria-label="Close" onclick="closePopup()" style="background: white; border-color: white; border-width: 0px;">
                <span aria-hidden="true"><a class="btn-close"></a></span>
            </button>
        </div>
    </div>

{% endif %}
<script>
    function closePopup() {
        var popup = document.querySelector('.popup');
        popup.style.display = 'none';
    }
</script>



							<div class="catalog-sections matrix matrix--big row"><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'grumming' %}" >  <img src="{% static 'main/img_for_home/grumming.webp' %}" class="card-img-top" alt="barbecue" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Груминг</h4>
  </div></a>
</div>
								<style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'chip' %}" >  <img src="{% static 'main/img_for_home/chip.webp' %}" class="card-img-top" alt="bread" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Чипирование</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'vaccine' %}"><img src="{% static 'main/img_for_home/vakcine.webp' %}" class="card-img-top" alt="cake" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Вакцинация</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'hirurg' %}" >  <img src="{% static 'main/img_for_home/hirurg.webp' %}" class="card-img-top" alt="meat" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Хирургия</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'labis' %}" >  <img src="{% static 'main/img_for_home/analiz.webp' %}" class="card-img-top" alt="vegetable" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Лабараторные исследования</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'oftal' %}" >  <img src="{% static 'main/img_for_home/oftal1.webp' %}" class="card-img-top" alt="meatin" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Офтальмология</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'stomat' %}" >  <img src="{% static 'main/img_for_home/stomat.webp' %}" class="card-img-top" alt="bird" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Стоматология</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'terap' %}" >  <img src="{% static 'main/img_for_home/Terap.webp' %}" class="card-img-top" alt="fish" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Терапия</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'doc' %}" >  <img src="{% static 'main/img_for_home/pasp.webp' %}" class="card-img-top" alt="pot" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Сопроводительные документы</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: deepskyblue;
  text-decoration: none;
}

 .card:hover a:hover {
  text-decoration: none;
  color: deepskyblue;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'zoog' %}" >  <img src="{% static 'main/img_for_home/zoo.webp' %}" class="card-img-top" alt="salad" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Зоогостиница</h4>
  </div></a>
</div> </div><div class="seo-block"><p>
	 С радостью приглашаем вас в нашу прекрасную ветеринарную клинику! Мы предлагаем профессиональную помощь и заботу для ваших любимых животных.
</p>
<h2>
Что предлагает наша ветеринарная клиника?</h2>
<p>
	 <p>
									Наша ветеринарная клиника предлагает полный спектр услуг для здоровья и благополучия вашего питомца. У нас вы найдете профессиональный медицинский уход: <a href="">вакцинацию</a>, <a href="">лечение и профилактику заболеваний</a>, <a href="">операционную</a>, <a href="">стоматологию</a>, а также советы и рекомендации опытных ветеринаров. Ваш питомец заслуживает лучшего, и мы здесь, чтобы помочь!
								</p>
							</div></div>
					</div></div>
{% endblock %}